@{
	ViewData["Title"] = "Contact";
}	
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/home/Index">صفحه اصلی</a> / <span>تماس با ما</span></h3>
			</div>
		</div>
		<div class="content">
			<!--contact-->
			<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
			<div class="contact-w3l">
				<div class="container">
					<h2 class="tittle">راه تماس با ما</h2>
					<div class="contact-bottom">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20710912.242732543!2d-119.74791551885588!3d57.80230286198458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549e2319b9444f43%3A0x7b507aa0262d61af!2sEducation+Consultants+LLC!5e0!3m2!1sen!2sin!4v1466162893366"  allowfullscreen></iframe>
					</div>
					<div class="col-md-4 contact-right">
						<div class="contct-info">
							<h4> اطلاعات تماس</h4>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود </p>
							<ul>
								<li>Free Phone :+1 599-033-5036</li>
								<li>Telephone :+1 078 4589 2456</li>
								<li>Fax :+1 078 4589 2456</li>
								<li><a href="mailto:example@mail.com">example@mail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-8 contact-right cont">
						<div class="contct-info">
							<h4>فرم تماس</h4>
							<form action="#" method="post">
								<div class="row">
									<div class="col-md-6 row-grid">
									<input type="text" name="نام" placeholder="نام" required>
									</div>
										<div class="col-md-6 row-grid">
											<input type="text" name="ایمیل" placeholder="ایمیل" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-6 row-grid">
									<input type="text" name="عنوان" placeholder="عنوان" required>
									</div>
										<div class="col-md-6 row-grid">
									<input type="text" name="تلفن" placeholder="تلفن" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<textarea placeholder="پیام" name="پیام" ></textarea>
								<input type="submit" value="ارسال" >
								<input type="reset" value="پاک کردن" >
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--contact-->
		</div>