<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
<!DOCTYPE html>
<html>
<head>
<title>@ViewData["Title"]</title>
<!--css-->
<partial name = "_Style"></partial>
@RenderSection("customStyle" , false)
<!--css-->
<partial name = "_Meta"></partial>
<!--js-->
<partial name = "_Script"></partial>
<!--js-->
<!--webfonts-->
<partial name = "_Fonts"></partial>
<!--webfonts-->
</head>
<body>
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
	<!--header-->
<partial name = "_Hed"></partial>
	<!--header-->
@RenderBody()
		<!--footer-->
<partial name = "_Foot"></partial>
		<!--footer-->



			<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->	
</body>
</html>


